.formInputs {
    display: flex;
    flex-direction: column;
    width: 150 px;
}

input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;     
    border: 1px solid rgb(97, 96, 96);
}

label {
    font-size: 12px;
    font-weight: bold;
    color: rgb(24, 24, 160);
}