
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: blue;
}
.radek {
  display: flex;
  align-items: center; /* zarovná obrázek a text na střed výškově */
  gap: 20px; /* mezera mezi obrázkem a textem */
}

.obrazek {
  width: 150px;
  aspect-ratio: 1 / 1; /* poměr 1:1 */
  object-fit: cover; /* výřez obrázku, aby držel tvar */
  border-radius: 8px; /* volitelné, zakulacení rohů */
}

.text {
  font-size: 16px;
}
.p {
  font-size: 16px;
  line-height: 1.5; /* výška řádku */
  font-family: monospace; /* písmo */
  color: #333; /* barva textu */
  margin: 0; /* odstranění výchozího okraje */
  padding: 0; /* odstranění výchozího vnitřního okraje */
  text-align: justify; /* zarovnání textu do bloku */
  text-justify: inter-word; /* zarovnání textu do bloku */
  text-indent: 1em; /* odsazení prvního řádku */
}
.h2 {
font-size: 1.5em;
text-align: center;
font-variant: small-caps;
font-weight: bold;
text-transform: uppercase;
color: #002366; /* tmavě modrá */
text-decoration: underline;
}
body {
  margin: 0;
  background color: #f0f0f0; /* světle šedá */
  font-family: sans-serif;
} 

.hlavicka {
  height: 100vh;
  width: 100vw;
   background-color: #002366; /* tmavě modrá */
  background-size: cover; /* pokrytí celé plochy */
  background-position: center; /* vycentrování obrázku */
  background-repeat: no-repeat; /* nezobrazovat opakovaně */
  color: white;
  text-align: center;
  padding-top: 40px;
  font-size: 200px;
    font-family: Arial, Helvetica, sans-serif, bold, sans-serif;
  font-weight: bold;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
tex transform: uppercase;
}

.obsah {
  padding: 20px;
}

<--!background-color: #002366; /* tmavě modrá */ !-->